.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.logo {
    color: #0D1730;
}

.list {
    display: flex;
    column-gap: 40px;
}

.link {
    color: #0D1730;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 576px) {
    .navbar {
        justify-content: center;
    }
    .logo {
        display: none;
    }
    .list {
        column-gap: 20px;
    }
}